/* BIEN ET MAL*/

.bien {
    color: darkolivegreen;
    text-transform: uppercase;
}

.mal {
    color: darkred;
    text-transform: uppercase;
}


/*PRINCIPAL*/

body {
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: bottom right;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #cb3737;
    text-align: center;
    margin-right: 400px;
    margin-left: 400px;
}

#boite {
    border:1px solid rgb(250, 250, 250, 0.5);
    background: -webkit-linear-gradient(-180deg, rgb(232, 157, 139, 0.1), rgb(243, 200, 157, 0.2));
    background: linear-gradient(-180deg, rgb(232, 157, 139, 0.1), rgb(243, 200, 157, 0.2));    
    padding: 50px;
}

header {
    margin: -15px;
    padding-top: -150px;
    position: relative;
}

.notification{
    background:rgba(238, 150, 150, 0.5);
    border:3px dashed rgb(203, 55, 55, 0.7);
    width:250px;
    font-weight:bold;
    color: #df3030;
    position: fixed;
    margin-left: 1100px;
}

h1 {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: left;
    margin-left: 30px;
}

hr {
    color: #cb3737;
    margin-top: 20px;
}

.citationTitre {
    font-style: italic;
    font-size: 29px;
    text-align: right;
    color: #cb3737;
}

.auteur {
    text-align: right;
    background-color: rgba(240, 183, 60, 0.2);
    border: 1px solid rgb(203, 55, 55, 0.5);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px;
    margin-left: 600px;
    border-radius: 25px;
}

img {
    height: 450px;
    border-image: 5px solid rgb(250, 250, 250, 0.5);
    padding-right: 20px;
    padding-left: 20px;
}

img.floatImage {
    float: left;
    margin-top: 15px;
}

#imageCitationCaillou {
    float: right;
    margin-left: -40px;
    margin-bottom: -20px;
    margin-top: -10px;
}

figcaption {
    font-style: italic;
    text-align: right;
    padding-bottom: -10px;
    padding-right: -10px;
}

a:link {
    color: rgb(235, 14, 14);
    text-shadow: 2px 2px rgba(221, 158, 158, 0.2);
  }

a:visited {
    color: rgb(10, 164, 236);
    text-shadow: 2px 2px rgba(221, 158, 158, 0.2);
}
  
a:hover {
    color: green;
    text-shadow: 2px 2px rgba(221, 158, 158, 0.2);
}
  

/*PARAGRAPHES*/

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: 300;
    text-align: justify;
    line-height: 150%;
    padding-left: 50px;
    padding-right: 50px;
}

blockquote.quoteCenter {
    color: #cb3737;
    background-color: rgba(231, 189, 189, 0.2);
    font-style: italic;
    text-align: left;
    margin-right: 280px;
    margin-left: 280px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 160%;
    border-left: 3px solid rgb(203, 55, 55, 0.5);
    padding-left: 30px;
}

blockquote.reponseChinois {
    color: #cb3737;
    font-style: italic;
    text-align: left;
    border-left: 3px solid rgba(236, 107, 33, 0.6);
    padding-left: 10px;
}

blockquote.villageois {
    color: #cb3737;
    font-style: italic;
    text-align: left;
    border-left: 3px solid rgba(236, 33, 33, 0.6);
    padding-left: 10px;
}

footer {
    font-size: small;
}


/*CUSTOM LIST*/

#laListe {
    margin-left : 130px;
    text-align: left;
    padding-bottom: 10px;
}

h2.hList {
    margin-left: -100px;
}

ul {
    list-style: none;
}

li.list1 {
    background: url('bien.png') no-repeat;
    height: 54px;
    padding-left: 60px;
    padding-top: 20px;
}

li.list2 {
    background: url('mal.png') no-repeat;
    height: 54px;
    padding-left: 60px;
    padding-top: 20px;
}

li.list3 {
    background: url('chat.png') no-repeat;
    height: 54px;
    padding-left: 60px;
    padding-top: 20px;
}

li.list4 {
    background: url('nope.png') no-repeat;
    height: 54px;
    padding-left: 60px;
    padding-top: 20px;
}

/*TABLEAU*/

table, th, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    padding: 15px;
}

th {
    background-color: rgba(250, 42, 42, 0.5);
    color: #f8e9e9;
}

tr:hover {
    background-color: rgba(219, 92, 92, 0.3);
}

tr:nth-child(even) {
    background-color: rgb(242, 242, 242, 0.1);
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}